body {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

:root {

    --two-color: #b5a168;

    --big-font: 3.5rem;
    --h2-font: 2.5rem;
    --h3-font: 2rem;
    --p-font: 1.1rem;
}

body {

    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../master.jpg);
    -webkit-animation: slidein 100s;
    animation: slidein 100s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}


@-webkit-keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }

}

h1 {

    font-weight: 800;
    line-height: 1.1;
    margin: 35px 0 35px;
    padding-bottom: 40px;
    font-size: var(--big-font);
    color: var(--two-color);


}

h2 {

    font-weight: 800;
    line-height: 1.1;
    margin: 0 0 35px;
    padding-bottom: 40px;
    font-size: var(--big-font);
    color: rgba(225, 225, 225, .01);
    background-image: url(../master.jpg);
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 15s ease-in-out infinite;
    font-size: var(--h3-font);


}


h3 {
    padding: 1rem 0;
}


ul {
    padding: 1rem 0;
}


@keyframes animate {

    0%,
    100% {
        background-position: left top;
    }

    25% {
        background-position: right bottom;
    }

    50% {
        background-position: left bottom;
    }

    75% {
        background-position: right top;
    }
}







footer {

    text-align: center;
    padding-top: 2rem;
}

footer a {
    color: var(--text-color);
    text-decoration: underline;
}





@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media only screen and (max-width: 660px) {



    h1 {
        font-size: var(--h2-font);
    }


}